<!-- div class="plays-3-page" -->
  <div class="container-fluid">
    <div class="row">

      <div class="nav-zone">
        <%= link_to '#', class: 'js-btn-3', "data-turbolinks": false do %>
          <button type="button" class="btn btn-primary btn-lg">押せ！</button>
        <% end %>
      </div>

      <div class="js-message-3">
          <p>動くナビゲーションバーに慣れましょう。</p>
      </div>

    </div>
  </div>
<!-- div -->