<div class="plays-2-page">
  <div class="container-fluid">
    
    <div class="nav-zone">
      <%= link_to plays_3_path, class: 'js-btn-2', "data-turbolinks": false do %>
        <button type="button" class="btn btn-primary btn-lg">押せ！</button>
      <% end %>
    </div>

    <div class="js-message-2">
        <p>動くナビゲーションバーに慣れましょう。</p>
    </div>

  </div>
</div>