<div id="particles-js"></div>

<div class="plays-2-page">
  <div class="container-fluid">
    
    <div class="nav-zone">
      <%= link_to plays_3_path, class: 'js-btn-2', "data-turbolinks": false do %>
        <button type="button" class="btn btn-primary btn-lg">押せ！</button>
      <% end %>
    </div>

    <h1 class="level text-white text-center">Level.2<h1>

  </div>
</div>