

.js-btn-4 {
  position: relative;
  top: 250px;
  left: 45%;
}

.js-bad-btn-4-1 {
  position: relative;
  top: 250px;
  left: 70%;
}

.js-bad-btn-4-2 {
  position: relative;
  top: 0;
  left: 0;
}

.js-bad-btn-4-3 {
  position: relative;
  top: 100px;
  left: 40%;
}

.js-message-4 {
  display: none;
}