#particles-js{ 
  position:fixed;
  z-index:-1;
  width: 100%;
  height: 100%;
}

.container-fluid {
  z-index: -2;
}

.btn {
  z-index: 1;
}

.js-btn-2 {
  position: relative;
}

.js-message-2 {
  display: none;
  z-index: 1;
}