.js-btn-5 {
  position: absolute;
}

.js-bad-btn-5-1 {
  position: absolute;
}

.js-bad-btn-5-2 {
  position: absolute;
}

.js-bad-btn-5-3 {
  position: absolute;
}

.js-bad-btn-5-4 {
  position: absolute;
}

.js-bad-btn-5-5 {
  position: absolute;
}

.js-bad-btn-5-6 {
  position: absolute;
}

.js-bad-btn-5-7 {
  position: absolute;
}

.js-bad-btn-5-8 {
  position: absolute;
}

.js-bad-btn-5-9 {
  position: absolute;
}

.js-bad-btn-5-10 {
  position: absolute;
}

.js-bad-btn-5-11 {
  position: relative;
}










.js-message-5 {
  display: none;
}