html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

.plays-1-page,
.plays-2-page,
.plays-3-page,
.plays-4-page,
.plays-5-page 
{ height: 100%; }

.container-fluid {
  padding: 0;
  height: 100%;
}

.nav-zone {
  background-color: #16A085;
  padding: 20px 0px;
}