html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

.container-fluid {
  background-color: #eedcb3;
  padding: 0;
  height: 100%;
}

.nav-zone {
  background-color: #16A085;
  padding: 20px 40px;
}